
# Ignorer les dossiers __pycache__ partout
__pycache__/
*/__pycache__/

# Ignorer les fichiers temporaires d’éditeur
.vscode/

# Ignorer les fichiers de test
tester.py/

# Ignore virtual environments
/env/